body {
    margin-left: auto;
    margin-right: auto;
}

div.player1 {
    float: left;
    margin-left: 200px;
}

div.player2 {
    float: right;
    margin-right: 200px;
}

div.status {
    font-size: 22pt; /* font-size ... デフォルトは12pt */
    float: left;
}

div.hp_meter {
}

div.character_image {
    transform: scale(1.6, 1.6);
}

div.hp_value {
    padding-left: 20px;
}