div.player1 {
    float: left;
    margin-left: 100px;
}

div.player2 {
    float: right;
    margin-right: 100px;
}

div.status {
    font-size: 18pt; /* font-size ... デフォルトは12pt */
    float: left;
}

div.player_name {
}

div.hp_meter {
    width: 100px;
}

div.hp_value {
}

div.button {
    clear: both;
    text-align: center;
    margin-top: 500px;
    padding-top: 50px;
    padding-bottom: 20px;
}