<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Let's pronounce!</title>
        <link rel="stylesheet" href="../static/css/battle.css">
    </head>
    <body>
        <div class="player1">
            <div class="status">
                <div class="player_name">Koki</div>
                <!-- 最適領域（緑）: 50%～, 準最適領域（黄色）: 20~50%, 非最適領域（赤）: ～20% -> ポケモンのHPバーの色（第五世代以降）-->
                <div class="hp_meter"><meter min="0" max="100" low="20" high="50" optimum="100" value="100">100%</meter></div>
                <div class="hp_value">100／100</div>
            </div>
            <div class="character_image">
                <img src="../static/img/brave.png">
            </div>
        </div>
        <div class="player2">
            <div class="status">
                <div class="player_name">Mocchaso</div>
                <!-- 最適領域（緑）: 50%～, 準最適領域（黄色）: 20~50%, 非最適領域（赤）: ～20% -> ポケモンのHPバーの色（第五世代以降）-->
                <div class="hp_meter"><meter min="0" max="100" low="20" high="50" optimum="100" value="80">80%</meter></div>
                <div class="hp_value">80／100</div>
            </div>
            <div class="character_image">
                <img src="../static/img/fighter.png">
            </div>
        </div>
        <div class="button">
                <button type="button">Change</button>
        </div>
    </body>
</html>