{% extends "layout.html" %}
{% block content %}

  <!-- Header -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container">
      <img class="img-fluid mb-5 d-block mx-auto" src="static/img/profile.png" alt="">
      <h1 class="text-uppercase mb-0">Audeio Battle</h1>
        <div class="index_gamestart"></div>
        <hr class="star-light">
</header>
<div align="center" class="text-secondary">
  <h1><a href=/input>GAME START</a></h1>
</div>
</div>

  {% endblock %}
