{% extends "layout.html" %}
{% block content %}
<header class="masthead bg-primary text-white text-center">
    <div class="container">
        <h1 class="text-uppercase mb-0">名前を入力してください</h1>
        <div class="index_gamestart"></div>
    </div>
    <form action="/send" method="post">
        <p>先行の名前:<br>
            <input type="text" name="first_name" value="" required> 
        </p>
        <p>後攻の名前:<br>
            <input type="text" name="second_name" value="" required>
        </p>
        <p>
            <input type = "submit" value = "OK!!!!" />
        </p>
    </form>
    <div>
        {% if result %}
            <p>{{result}}</p>
          {% endif %}
    </div>
</header>
{% endblock %}