{% extends "layout.html" %}
{% block content %}
<header class="masthead bg-primary text-white text-center">
    <div class="container">
        <h1 class="text-uppercase mb-0">名前を入力してください</h1>
        <div class="index_gamestart"></div>
    </div>
    <br>
    <br>
    <form action="/send" method="post">
        <h3>先攻の名前:<br>
            <input type="text" name="first_name" placeholder="西郷" required> 
        </h3>
        <br>
        <h3>後攻の名前:<br>
            <input type="text" name="second_name" placeholder="坂本" required>
        </h3>
        
        <br>
        <br>

        <h2>
            <input type = "submit" value = "OK!!!!" />
        </h2>
    </form>
    <div>
        {% if result %}
            <p>{{result}}</p>
          {% endif %}
    </div>
</header>
{% endblock %}