{% extends "layout.html" %}
{% block content %}

  <!-- Header -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container">
      <h1 class="text-uppercase mb-0"></h1>
      <form action="/choice" method="post">
      {%for phrase in phrase_list%}
        <select name="select_phrase" size=4 class="text-uppercase mb-0">
          <option  align="left" value="{{loop.index0+1 }}番目-{{phrase}}">{{loop.index0+1 }}番目-{{phrase}}</option>
        </select>
        {% endfor %}
        <p>
          <input type = "submit" value = "OK!!!!" />
      </p>
      </form>
    </div>
  </header>

  {% endblock %}