{% extends "layout.html" %}
{% block content %}
<header class="masthead bg-primary text-white text-center">
    <div class="container">
            {% if phrase %}
                <h1 class="mb-0">{{phrase}}</h1>
            {% endif %}
            <br>
        <h1><p id=time_print>3</p></h1>  
    </div>
</header>
<script>

    var timer1; //タイマーを格納する変数（タイマーID）の宣言
    var sec = 3;
    window.onload = function(){
      //カウントダウン関数を1000ミリ秒毎に呼び出す関数
      timer1=setInterval("countDown()",1000);
    }
    //カウントダウン関数
    function countDown()
    { 
      sec -=1;
      tmWrite(sec);
    }
    //残り時間を書き出す関数
    function tmWrite(time_data)
    {
      time_data=parseInt(time_data);
      if (time_data < 0){
        document.getElementById("time_print").innerText = "録音中";
      }
      else if (time_data==0)
      {
        document.getElementById("time_print").innerText = "スタート!!";
        window.location.href = '/voice';
      }
      else
      {
      document.getElementById("time_print").innerText = time_data;
      }
    } 
    </script>
{% endblock %}