{% extends "layout.html" %}
{% block content %}
<header class="masthead bg-primary text-white text-center">
    <div class="container">
        <div>
            <h2>録音されたフレーズ</h2>
            <br>
            {% if user_phrase %}
                <h1>{{user_phrase}}</h1>
            {% endif %}
        </div>
    </div>
</header>
<script>

    var timer2; //タイマーを格納する変数（タイマーID）の宣言
    var sec2 = 3;
    window.onload = function(){
      //カウントダウン関数を1000ミリ秒毎に呼び出す関数
      timer2=setInterval("countDown()",1000);
    }
    //カウントダウン関数
    function countDown()
    { 
      sec2 -=1;
      tmWrite(sec2);
    }
    //残り時間を書き出す関数
    function tmWrite(time_data)
    {
      time_data=parseInt(time_data);
      if (time_data < 0){
        //document.getElementById("time_print").innerText = "録音中";
      }
      else if (time_data==0)
      {
        //document.getElementById("time_print").innerText = "スタート!!";
        window.location.href = '/battle';
      }
      else
      {
      //document.getElementById("time_print").innerText = time_data;
      }
    } 
    </script>
{% endblock %}